.input {
  width: 187px;
  font-size: 30px;
  border-radius: 5px;
  margin: 5px;
}
.ip {
  margin: 5px;
  width: 190px;
  font-size: 20px;
  padding: 2px;
  font-weight: lighter;
  border-radius: 5px;
  background-color:rgb(245, 240, 240);
  }
.h{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    max-height: 16px;     
    -webkit-line-clamp: 1;
}